<%-include("./partials/header")  %>
<h1>Instruksjoner:</h1>
<br>
<div class="instruksjoner">
    <h2>Hvordan logge inn?</h2>
    <p>Svar: Trykk på "log in!" knappen øverst til venstre -> fyll inn emailen og passordet ditt, og trykk "log in!"</p>
    <img src="/IMG/topLeft.png" alt="go to the top left corner" width="350">
    <img src="/IMG/login.png" width="400">
</div>
<div class="instruksjoner">
    <h2>Hvordan opprette bruker?</h2>
    <p>Svar: Trykk på "sign up!" knappen øverst til venstre -> fyll inn mail og passordet ditt, og trykk "Sign up!" Husk å fyll inn begge passord feltene</p>
    <img src="/IMG/topLeft.png" alt="go to the top left corner" width="350">
    <img src="/IMG/signup.png" alt="click the signup button!" width="400">
</div>
<div class="instruksjoner">
    <h2>Hvordan lage en quote?</h2>
    <p>Først logg inn i brukeren din -> trykk på "account" knappen som ligger øverst til venstre -> fyll inn skjemaet der det står "create a quote" og trykk submit</p>
    <img src="/IMG/topLeft.png" alt="go to the top left corner" width="350">
    <img src="/IMG/create.png" alt="Click the submit button" width="400">
</div>
<div class="instruksjoner">
    <h2>Hvordan slette quotes?</h2>
    <p>Først logg inn i brukeren din -> trykk på "account" knappen som ligger øverst til venstre -> let etter quoten som du har lyst til å slette og trykk delete på knappen som ligger under den!</p>
    <img src="/IMG/topLeft.png" alt="go to the top left corner" width="350">
    <img src="/IMG/delete.png" alt="Click the delete button on the quote" width="400">
</div>
<div class="instruksjoner">
    <h2>Hvordan oppdatere quotes?</h2>
    <p>Først logg inn i brukeren din -> trykk på "account" knappen som ligger øverst til venstre -> let etter quoten som du har lyst til å oppdatere og trykk den! -> fyll in skjemaet øverst på siden til hva du har lyst til å endre quoten til!</p>
    <img src="/IMG/topLeft.png" alt="go to the top left corner" width="350">
    <img src="/IMG/create.png" alt="Click the submit button" width="400">
</div>
<%-include("./partials/footer")  %>
